*{
    margin: 0;
}

[class*="__cont"] {
    max-width: 1170px;
    margin: 0 auto;

}

header {
    color: black;
    width: 100%;
    height: 710px;
}

.head__cont {
    text-align: center;
}

.head__title {
    font-family: 'Source Serif Pro', serif;
}
